.site-footer
  background-color: rgba(237, 255, 236, .5)
  .credit
    font-family: Allura
    letter-spacing: 0
    color: rgba(115, 114, 109, .5)
    text-align: right
    margin: 0
    padding: 10px 20px 5px 10px

  .notice
    font-family: roboto
    font-size: 10px
    text-align: right
    color: rgba(115, 114, 109, .5)
    padding: 0 20px 10px 10px

  span
    color: rgba(6, 84, 104, .5)
