/* =============================================================================
 Footer
 =============================================================================*/
.site-footer
  font-size: .7em
  text-align: center
  background-color: #fff
  padding: .7em

  .credit
    margin: 0
    padding: 0

  .notice
    margin: 0
    padding: 0
