.holder
  height: 2000px

.parallax
  position: relative
  height: 100vh
  background:
    color: #b9c0ca
    position: center center
    size: contain
    attachment: fixed
  overflow: hidden

  .kicker
    z-index: 2
    width: 100%
    text-align: center
    font:
      family: Allura
      size: 10vmax
      weight: 600
    color: #f9f6e8
    position: absolute
    top: 75%

    .hearts
      height: .5em

  .tenten
    z-index: 3
    width: 100%
    text-align: center
    font:
      family: Allura
      size: 10vmax
      weight: 900
    color: #f9f6e8
    position: absolute
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2)
    top: 100%

    .date
      margin: 0

    .words
      font-family: Allura
      font-size: 7vmax
      font-weight: 400
      margin: 0

  .us
    //background-color: pink
    height: 100vh
    width: 100%
    background:
      image: url(/assets/img/us.png)
      position: center bottom
      repeat: no-repeat
      size: cover
      attachment: fixed
    position: absolute
    bottom: 0px

  .menu
    position: absolute
    top: 20px
    right: 30px

    .main
      color: white
