.hero
  height: calc(100vh - 65px)
  max-height: 784px
  max-width: 1440px
  background:
    image: url(/assets/img/faceoff.jpg)
    position: center center
    size: cover
  margin: 0 auto 20px auto

  @media (max-width: 1024px)and(orientation: portrait)
    height: 50vh
