.hero
  //max-width: 1440px
  margin: 0 auto
  position: relative
  display: flex
  flex-direction: row
  justify-content: space-between

  .portia
    height: calc(100vh - 65px)
    //max-height: 784px
    width: 50%
    background:
      image: url(/assets/img/portia.jpg)
      position: center top
      size: cover

    @media (max-width: 1024px)and(orientation: portrait)
      height: 50vh

  .ron
    height: calc(100vh - 65px)
    //max-height: 784px
    width: 50%
    background:
      image: url(/assets/img/ron.jpg)
      position: center center
      size: cover

    @media (max-width: 1024px)and(orientation: portrait)
      height: 50vh

  .annoc
    position: absolute
    height: 100%
    transform: translate(-50%, 50%)

    @media (max-width: 420px)
      transform: translate(-50%, 65%)

    .names
      font-size: 10em
      font-weight: 900
      text-align: center
      text-transform: uppercase
      margin: 0
      padding: 0

      @media (max-width: 420px)
        font-size: 2em

    p
      font-family: playfair display
      font-style: italic
      font-size: 2em
      text-align: center
      margin: 0
      padding: 0

      @media (max-width: 420px)
        font-size: 1em

    p:first-of-type
      font-family: playfair display
      font-style: normal
      font-size: 4em
      color: #fff

      @media (max-width: 420px)
        font-size: 1em

    hr
      margin: 0
