/* =============================================================================
 Quotes Section
 =============================================================================*/

.quote-wrap
  display: flex
  flex-direction: row
  justify-content: space-between

  @media (max-width: 1024px)
    display: block
    margin: 0 auto
    padding: 10px 0

.quote-left, .quote-right
  width: 96%
  position: relative
  border-radius: 0.5em
  padding: 1em 2em
  box-sizing: border-box
  box-shadow: $shadow

  &:before, &:after
    content: ""
    display: block
    width: 1em
    height: 1em
    position: absolute

.quote-left
  margin: 10px 0.5% 10px 1%
  border: 1px solid $borderColor
  background: nth($bgColor, 1)
  color: nth($color, 1)

  &:before, &:after
    left: 0
    top: 50%
    transform: translate(-54%, -50%) rotate(-45deg)
    border-top: 1px solid $borderColor
    border-left: 1px solid $borderColor
    background: nth($bgColor, 1)

  &:before
    box-shadow: $shadow
    z-index: -1

.quote-right
  margin: 10px 1% 10px 0.5%
  background: nth($bgColor, 2)
  color: nth($color, 2)
  text-align: right

  &:before, &:after
    right: 0
    top: 50%
    transform: translate(54%, -50%) rotate(45deg)
    background: nth($bgColor, 2)

  &:before
    box-shadow: $shadow
    z-index: -1

.quote-left-heading, .quote-right-heading
  font-family: playfair display
  font-size: 2.5em
  text-align: center
  padding: 1em

  @media (max-width: 1440px)
    font-size: 2em
  @media (max-width: 1440px)
    font-size: 1.7em
  @media (max-width: 420px)
    font-size: 1.5em

.quote-left-heading
  color: nth($color, 1)

.quote-right-heading
  color: nth($color, 2)

.button
  text-align: center
  a
    display: inline-block
    color: nth($color, 1)
    padding: 5px 10px
    border-radius: .3em
    box-sizing: border-box
    box-shadow: $shadow
    background-color: nth($bgColor, 3)
