section.local
  h2 Logistics
  
  .thumbs-wrap
    .thumb-container
      a.thumb-unit
        .thumb-overlay
          strong Places to Stay
          p Find a great place near by to stay while you are here.
    
    .thumb-container
      a.thumb-unit
        .thumb-overlay
          strong Places to Go
          p There is a ton to do on Maui. Here are some of our favorites.
          
    .thumb-container
      a.thumb-unit
        .thumb-overlay
          strong Things you should know
          p From how to save some cash to things you might forget to plan for. Here are some tips.
