.site-wrap
  header
    width: 135px
    @include background(linear-gradient(#3498DB, #1BA39C) left repeat)
    //@include background(linear-gradient(#E4F1FE, #336E7B) left repeat)
    padding: 30px 0
    font-size: 16px

    .header-position
      position: fixed
      top: 30px
      left: 0
      bottom: 50%
      width: 135px
      display: flex
      flex-direction: column
      justify-content: space-between

    .logo
      +hide-text
      max-width: 135px
      background:
        image: url(/assets/img/icon.svg)
        repeat: no-repeat
        position: center
        size: contain
        //color: pink
      height: 105px
      padding: 0
      margin: 0

    .site-nav
      ul
        list-style: none
        margin: 30px 0
        padding: 0 20px 0 0
        text-align: right

        li
          margin-bottom: 15px

          &:last-child
            margin-bottom: 0

    .mobile-nav-toggle
      display: none
      width: 50px
      height: 50px
      //background: pink
      margin-right: 1.25em
      align-items: center

      span,
      span:before,
      span:after
        content: ""
        display: block
        height: .3em
        width: 100%
        @include border-top-radius(1px)
        @include border-right-radius(1px)
        @include border-bottom-radius(1px)
        @include border-left-radius(1px)
        background: #333
        position: relative

        transition: all 0.3s ease-in-out

      span:before
        top: 15px

      span:after
        top: -20px

      &.is-open span
        background: transparent

      &.is-open span:before,
      &.is-open span:after
        //transform-origin: center
        transform: rotate(45deg)
        transform-origin: 43% 50%
        top: 0

      &.is-open span:after
        transform: rotate(-45deg)

//Mobile navigation
.mobile-nav
  display: none
  position: absolute
  width: 100%
  @include background(linear-gradient(#3498DB, #1BA39C) left repeat)
  padding: 30px 0 20px
  transition: translateY(-100%)
  transition: all 0.3s ease-in-out


  ul
    list-style: none
    margin: 0
    padding: 0

  li
    text-align: center
    margin-bottom: 10px

@media (max-width: 775px)
  .site-wrap
    header
      width: auto
      padding: 10px 0

      .header-position
        width: auto
        position: relative
        top: auto
        bottom: auto
        left: auto
        flex-direction: row
        align-items: center

      .site-nav
        display: none

      .logo
        @include calc(height, "105px - 50%")
        width: 100px
        margin-left: .16em

      .mobile-nav-toggle
        display: flex

    .mobile-nav.is-open
      display: block
      transform: translateY(0%)
