.home-wrap
  display: flex
  justify-content: center
  background-image: url(/assets/img/landing.jpg)
  background-repeat: no-repeat
  background-position: center center
  height: 100vh
  background-size: cover

  .logo
    +hide-text
    background-image: url(/assets/img/logo.svg)
    background-repeat: no-repeat
    background-position: center center
    height: 30vh
    width: 90vw
    background-size: contain
    padding: 0
    margin: 1rem

  .site-nav
    ul
      list-style: none
      margin: 0
      padding: 0

      li
        display: inline-block
        margin-right: 10px
