$base-color: #065468
$bc-dark: darken($base-color, 10%)
$bc-light: lighten($base-color, 20%)
$font-base: #222
$sand: #73726D
$accent-base: #EDFFEC
$ab-dark: darken($accent-base, 10%)
$whitish: #FFFFF0
$greyish: #EEEEE0
$sb-light: #ececec
$sb-dark: darken($sb-light, 20%)

$portrait: 768px
$landscape: 1024px
