<!-- ===========================================================================
Header section
============================================================================ -->

<header class="site-header">
  <h1 class="logo">P+R</h1>

  <nav class="main-nav">
    <ul>
      <li><a href="#">Section 1</a></li>
      <li><a href="#">Section 2</a></li>
      <li><a href="#">Section 3</a></li>
      <li><a href="#">Section 4</a></li>
      <li><a href="#">Section 5</a></li>
    </ul>
  </nav>
</div>

<!-- ===========================================================================
Hero section
============================================================================ -->

<div class="hero">
  <div class="portia"></div>
  <div class="annoc">
    <h1 class="names">Portia + Ron</h1>
    <p class="playfair">10&bull;10&bull;2016</p>
    <hr>
    <p>Maui, Hawaii</p>
  </div>
  <div class="ron"></div>
</div>

<!-- ===========================================================================
Quotes section
============================================================================ -->

<h2 class="none">These two are getting married...<br /> Who would have guessed?</h2>
<p class="ban-sub">In the  beginning certainly not them...</p>

<div class="bubble-wrap">

  <div class="bubble-left bubble-border">
    <h1 class="bubble-heading-l">“I thought he had Antisocial Personality Disorder.”</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    <div class="button"><a href="#">Read The Whole Story</a></div>
  </div>

  <div class="bubble-right bubble-fill">
    <h1 class="bubble-heading-r">“She seemed to me like a pretentious attention whore.”</h1>
    <p>When I first met Portia I was unimpressed. She seemed to me like a pretentious attention whore. Later I learned that was just her being friendly and me being an ass</p>
    <div class="button"><a href="#">Read The Whole Story</a></div>
  </div>
</div>

<!-- ===========================================================================
Story section
============================================================================ -->
<section class="story" id="story">
  <h2 class="none">But look at them now.</h2>

  <figure class="img-holder">
    <img class="img-flex-large" src="/assets/img/us-1.jpg" />
  </figure>

  <h2 class="none">Fast forward a few years and the story sorta goes like this.</h2>

  <h2 class="block-2">On this beach, just moments after this photo was taken...</h2>

  <figure class="img-holder">
    <img class="img-flex-large" src="/assets/img/beachsunset-1.jpg" />
  </figure>

  <h2 class="block-2">He asked and...</h2>

  <figure class="img-holder">
    <img class="img-flex-large" src="/assets/img/shesaidyes-1.jpg" />
  </figure>

  <h2 class="block-2">She said yes!!</h2>
</section>

<!-- ===========================================================================
Rename me section
============================================================================ -->

<h2 class="block-1">So what's next?</h2>

<h2 class="none">A wedding of course</h2>
<p class="playfair">
  We will be getting married on a beach in Maui. Oneloa (Ironwood) Beach at 4:30pm to be exact!
</p>

<div class='content-container  embed-container  maps'>
  <div id="g-map"></div>
</div>

<!-- ===========================================================================
Footer section
============================================================================ -->

<footer class="site-footer">
  <p class="credit">
    This site <span>created with</span> more <span>heart</span> than brains <span>by: Ron Goyette</span>
  </p>
  <p class="notice">tenten16.com &copy; 2016</p>
</footer>
