<div class="bubble-wrap">
  <div class="bubble-left bubble-border">
    <h1 class="bubble-heading-l">“I thought he had Antisocial Personality Disorder.”</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
  </div>
  <div class="bubble-right bubble-fill">
    <h1 class="bubble-heading-r">“She seemed to me like a pretentious attention whore.”</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
  </div>
</div>
