<div class="bubble-wrap">
  <div class="bubble-left bubble-border">
    <h1 class="bubble-heading">This is a header h1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
  </div>
  <p class="bubble-right bubble-fill">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
</div>
<div class="bubble-wrap-wide">
  <div class="bubble">
    <h1 class="bubble-heading">This is another test</h1>
  </div>
</div>
