<section class="stories">
  <div class="talkbubble-r">
    <div class="quote-her">
      <h1>“I thought he had Antisocial Personality Disorder.”</h1>
      <p>
        Who would have guessed that the woman I thought was a little stuck up and basically blew off for the first part of the evening would end up being the woman that I can't imagine my life without now.
      </p>
      <a class="button" href="#">The Whole Story</a>
    </div>
  </div>
  <div class="talkbubble-l">
    <div class="quote-him">
      <h1>“I thought she was a pretentious attention whore.”</h1>
      <p>
        Who would have guessed that the woman I thought was a little stuck up and basically blew off for the first part of the evening would end up being the woman that I can't imagine my life without now.
      </p>
      <a class="button" href="#">The Whole Story</a>
    </div>
  </div>
</section>
