<section class="row">
  <h2 class="section-heading">So whats next?</h2>
  <h3 class="story-heading">A wedding of course!</h3>
  <p class="p-subheading">
    Since the proposal was such a success, we determined that we can’t go wrong with a Maui wedding! Oneloa (Ironwood) Beach on <time>October 10<sup>th</sup>, 2016</time> at <time>4:30pm</time> is where the magic will happen, and we are infinitely excited to share this experience with our most beloved family and friends.
    <br>
    <a class="btn btn-qoute btn-lg btn-lg" data-toggle="collapse" href="#her-story" aria-expanded="false" aria-controls="collapseExample">Detailed Information</a>
  </p>
  <div id="g-map"></div>
</section>
