<section class="row">
  <h2 class="section-heading">So whats next?</h2>
  <h3 class="story-heading">A wedding of course</h3>
  <p class="p-subheading">
    Portia and Ron will be getting married on a beach in Maui. Oneloa (Ironwood) Beach on <time>October 10<sup>th</sup>, 2016</time> at <time>4:30pm</time> to be exact!
    <br>
    <a class="btn btn-qoute btn-lg btn-lg" data-toggle="collapse" href="#her-story" aria-expanded="false" aria-controls="collapseExample">Detailed Information</a>
  </p>
  <div id="g-map"></div>
</section>
