<div class="hero">
  <div class="stats">
    <div class="stat-box-p">
      <span class="female"><img src="/assets/img/icons/female.svg" height="25px" width="25px"></img></span>
      <span class="virgo"><img src="/assets/img/icons/virgo5.svg" height="25px" width="25px"></img></span>
      <span class="mbti">INFJ</span>
      <span class="enne"><img src="/assets/img/icons/enne2.png" height="25px" width="29px"></img></span>
    </div>

    <div class="stat-box-r">
      <span class="male"><img src="/assets/img/icons/male.svg" height="25px" width="25px"></img></span>
      <span class="gemini"><img src="/assets/img/icons/gemini5.svg" height="25px" width="25px"></img></span>
      <span class="mbti">INTP</span>
      <span class="enne"><img src="/assets/img/icons/enne5.png" height="25px" width="29px"></img></span>
    </div>
  </div>

  <div class="callout">
    <h2 class="annoc">Portia + Ron</h2>
    <h3 class="date">10&#149;10&#149;2016</h3>
  </div>
</div>
