<section class="row">

  <h2 class="section-heading">Vacation for all!</h2>

  <div id="accordion" role="tablist" aria-multiselectable="true">
    <!-- travle tips -->
    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="headingOne">

        <h4 class="panel-title tab-heading-1">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Travel
          </a>
          <br>
          <small class="info-small">Tips on airfare</small>
        </h4>

      </div>

      <div class="info-inside">
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

            <p class="p-tab">
              We know you’re excited, but don’t book your plane tickets too far in advance!
            </p>

            <h4 class="tab-sub">Be smart, and follow these tips from travel guru Rick Seaney:</h4>

            <ol class="tab-list">
              <li>Buy tickets in the sweet spot: Shop 3 months to 1.5 months before departure for U.S. domestic flights; shop 5 months to 2 months before departure for international flights.</li>
              <li>Shop on Tuesdays: U.S. airlines typically launch sales on Tuesdays and by 3 p.m. eastern time, the competition has matched the new deals and shoppers have more good prices to choose from.</li>
              <li>Set airfare alerts: This is a boon for local and international travelers who know where they want to go but aren’t sure when to buy. Setting an airfare alert will let the deals come directly to you.</li>
              <li>Travel cheaper days: In the U.S., the cheapest days to fly are usually Tuesdays, Wednesdays and Saturday. In other countries, weekdays are generally cheaper than weekends.</li>
            </ol>
            <h4 class="tab-sub">Also, a couple little tips of our own: </h4>
            <ol class="tab-list">
              <li>Consider applying for an airline miles credit card that offers a sign-up bonus offer. Hawaiian Airlines Mastercard earns you 35,000 bonus points AND a 50% discount on a companion ticket if you spend $1000.00 within 90 days! Some cards have even higher bonus offers, so do your research (and make sure the airline actually has routes to HI).</li>
              <li>There are a lot of deals to be had for a vacation to Maui and a Google search of "Maui Vacation" will rapidly reveal them!</li>
            </ol>

        </div>
      </div>

    </div>
    <!-- Points of interest -->
    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="headingTwo">

        <h4 class="panel-title tab-heading-2">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Points of interest
          </a>
          <br>
          <small class="info-small">A few places that you might enjoy</small>
        </h4>

      </div>
      <div class="info-inside">
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <h4 class="tab-sub">Maui is a beautiful place. There is more to see and do here than any one vacation can cover. Here are some of our favorite things to do and a few links to sites that can help you discover some of your own!</h4>
          <ol class="tab-list">
            <li>A day at the beach. Miles and miles of beaches here are a few of the best!
              <ul>
                <li><a href="http://www.tripadvisor.com/Attraction_Review-g29220-d153834-Reviews-Makena_Beach-Maui_Hawaii.html">Makena Beach State Park</a></li>
                <li><a href="http://www.tripadvisor.com/Attraction_Review-g60634-d260002-Reviews-Ka_anapali_Beach-Lahaina_Maui_Hawaii.html">Ka’anapali Beach</a></li>
                <li><a href="http://www.tripadvisor.com/Attraction_Review-g209273-d153830-Reviews-D_T_Fleming_Beach_Park-Kapalua_Maui_Hawaii.html">D.T. Fleming Beach Park</a></li>
              </ul>
            </li>
            <li><a href="http://www.tripadvisor.com/Attraction_Review-g29220-d672529-Reviews-Nakalele_Blowhole-Maui_Hawaii.html">Nakalele Blowhole</a>
              <ul>
                <li>Be sure to look for heart rock while you are there!</li>
                <li>Depending where you are staying on the island, this is also a lovely road trip</li>
              </ul>
            </li>
            <li><a href="http://www.mauiinformationguide.com/iao-valley.php">ʻĪao Valley</a>
              <ul>
                <li>ʻĪao Valley is upcountry. Its lush!</li>
                <li>There is a nice little <a href="http://dlnr.hawaii.gov/dsp/hiking/maui/iao-needle-lookout-trail-and-ethnobotanical-loop/">hike</a></li>
                <li>And the <a href="http://dlnr.hawaii.gov/dsp/parks/maui/iao-valley-state-monument/">ʻĪao Valley State Monument</a></li>
              </ul>
            </li>
            <li><a href="http://www.mauioceancenter.com/">The Maui Ocean Center</a>
              <ul>
                <li>If you have children with you or you just love aquatic life, this is your spot! As far as attractions go it is a bit on the high side for entrance fees but seeing a stingray the size of a house swim over your head is pretty amazing! Not to mention all the other exotic creatures you will encounter, some of which you can even touch!</li>
              </ul>
            </li>
            <li>Last but not least. The Road to Hana
              <ul>
                <li><a href="http://roadtohana.com/">Road to Hana.com</a></li>
                <li>There is no doubt that sights to be seen along the road to Hana are stunning and plentiful. This is a must-do at least once in your lifetime. If you are the driver, please note that this trip is not to be taken lightly. We recommend that only adults make the trip and that you get your coffee and leave really early. There are many points of interest to visit and it gets dark fairly early on Maui. Driving this road at night is pretty darn terrifying. If you are planning on making this trip, please be sure to check the link above for information on trip prep and a guide to all the points of interest along the way. There are also many tour groups that you can book so that you don't have to drive and you can just enjoy the sights</li>
              </ul>
            </li>
          </ol>
          <a class="btn btn-qoute-info btn-lg"href="http://www.prideofmaui.com/blog/">Pride of Maui</a>
          <span class="p-tab">
            is a cool blog that has a bunch of cool lists. It's full of coolness!
          </span>
        </div>
      </div>

    </div>
    <!-- Pro Tips -->
    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="headingThree">

        <h4 class="panel-title tab-heading-3">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Pro Tips
          </a>
          <br>
          <small class="info-small">A few ways to save you some cash and things to think about</small>
        </h4>



      </div>
      <div class="info-inside">
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <h2>Coming soon!</h2>
        </div>
      </div>
    </div>
  </div>

</section>
