<section class="local">

  <h2>Logistics</h2>

  <div class="thumbs-wrap">

    <div class="thumb-container">
      <a class="thumb-unit">
        <div class="thumb-overlay">
          <strong>Places to Stay</strong>
          <p>Find a great place near by to stay while you are here.</p>
        </div>
      </a>
    </div>

    <div class="thumb-container">
      <a class="thumb-unit">
        <div class="thumb-overlay">
          <strong>Places to Go</strong>
          <p>There is a ton to do on Maui. Here are some of our favorites.</p>
        </div>
      </a>
    </div>

    <div class="thumb-container">
      <a class="thumb-unit">
        <div class="thumb-overlay">
          <strong>Things you should know</strong>
          <p>From how to save some cash to things you might forget to plan for. Here are some tips.</p>
        </div>
      </a>
    </div>
    
  </div>

</section>
