<section class="island" id="section1">
  <div class="island-section">
    <h2 class="section-title">Aloha!</h2>
    <p>
      Getting married on Maui is going to be awesome for us! We hope that you enjoy
      being here with us for it. We know that we will enjoy having you. While you are
      here we hope that you will enjoy many of the other great things that the island
      has to offer.
    </p>
  </div>

  <div class="info-thumb">
    <div class="thumbs">
      <div class="title">
        <a href="#">Title link</a>
      </div>
      <div class="sub">
        <span>This is a blurb giving just a bit more information about the link</span>
      </div>
    </div>
  </div>
</section>
