<section class="row">
  <h2 class="section-heading">RSVP your invitation</h2>
</section>
<section class="row row-form">
  <p class="p-subheading-alt">
    If your invitation was addressed to multiple members of the same household.  Please include all names of those attending in the comment box below.
  </p>
  <form id="form1" name="form1" class="form-group" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ronandportia.wufoo.com/forms/z18c6z0d0isocp2/#public">
    <fieldset class="form-group">
      <input id="Field207" name="Field207" type="text" class="form-control-alt" placeholder="Name" value="" maxlength="255" tabindex="1" onkeyup="" required />
    </fieldset>
    <fieldset class="form-group">
      <input id="Field3" name="Field3" type="email" spellcheck="false" class="form-control-alt" value="" maxlength="255" placeholder="Email" tabindex="2" required />
      <small class="text-muted">We'll never share your email with anyone else.</small>
    </fieldset>


    <fieldset class="form-group">
      <select id="Field204" name="Field204" class="form-control-alt form-control-lg" tabindex="3" >
        <option
          value="Attending" selected="selected">
          Attending
        </option>
        <option
          value="Not Attending" >
          Not Attending
        </option>
      </select>
    </fieldset>

    <fieldset class="form-group">
      <textarea id="Field205" name="Field205" class="form-control-alt" spellcheck="true" rows="10" placeholder="Comment" tabindex="4" onkeyup=""></textarea>
      <small class="text-muted">
        You will be redirected to a confirmation page once you hit the submit button. You will have to hit the back button to return to our site. Sorry for the inconvenience but for such a small use case it didn't seem worth the subscription cost to prevent it.
      </small>
    </fieldset>

    <div class="submit">
      <input id="saveForm" name="saveForm" class="btn btn-qoute btn-lg btn-block" type="submit" value="Submit"/>
      <div class="ease"></div>
    </div>

    <div class="sr-only">
      <label for="comment">Do Not Fill This Out</label>
      <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
      <input type="hidden" id="idstamp" name="idstamp" value="GwL5+0pJjEqUfCUVEefF5sQJIzq/LHNTG4AqwA26Nng=" />
    </div>

    <p class="wu-link">
      Form powered by:<a href="https://www.wufoo.com/"> Wufoo</a>
    </p>
  </form>
</section>
