<div class="site-wrap">
  <div class="bubble">
    <div class="stats">
      <div class="stat-box">
        <div class="female"></div>
        <div class="virgo"></div>
        <div class="mbti">INFJ</div>
        <div class="enne2"></div>
      </div>

      <div class="stat-box">
        <div class="male"></div>
        <div class="gemini"></div>
        <div class="mbti">INTP</div>
        <div class="enne5"></div>
      </div>
    </div>

    <h1 class="ban-bold">Who would have guessed?</h1>
  </div>
</div>
