<section class="row">
  <h2 class="section-heading">The good news is that those first impressions were short lived.</h2>
  <p class="p-subheading">
    Just look at them now!
  </p>
  <figure>
    <img src="assets/img/us-1.jpg" class="img-fluid" alt="picture of Portia and Ron" />
  </figure>
  <h2 class="story-heading">Fast forward a couple of years and the story goes something like this.</h2>
  <p class="p-subheading">
    Under the guise of wanting company to photograph the approching sunset Ron invites Portia to come along with him to take some pictures. They shortly find themseles on a sandy beach in Kaanapali Maui. Where just moments after this photo...
  </p>
  <figure>
    <img src="assets/img/beachsunset-1.jpg" class="img-fluid" alt="picture of Kaanapali beach sunset" />
  </figure>
  <p class="p-subheading">
    ...He put his knee in the sand, explained that of all the many ways he'd thought of, there was no better place than this one and no more perfect moment than the one they were in to ask her to be his bride...
  </p>
  <figure>
    <img src="assets/img/shesaidyes-1.jpg" class="img-fluid" alt="a teary eyed Portia" />
  </figure>
  <p class="p-subheading">
    ...She said yes!
  </p>
  <p class="p-yes">
    (after a few seconds of shock, confirmation of it being a real proposal and Ron promting egerly with "So is that a yes...?")
  </p>
  <figure class="card">
    <img src="assets/img/kissyface-1.jpg" class="card-img img-fluid" alt="picture of Portia and Ron smuching" />
      <figcaption class="card-img-overlay">
        <p class="p-subheading">This is the start of their sweet little story, the part where her pages meet his, the part were no matter where their tale takes them tomorrow, their story will always read.</p>
      </figcaption>
  </figure>

</section>
