<div class="bubble">
  <h2 class="ban-bold">But look at them now.</h2>
</div>
<div class="story-1"><img class="story" src="/assets/img/us-1.jpg" /></div>
<div class="bubble">
  <h2 class="ban-bold">Fast forward a few years and the story sorta goes like this.</h2>
</div>
<div class="bubble-2">
  <h2 class="ban-bold">On this beach, just moments after this photo was taken...</h2>
</div>
<div class="story-1"><img class="story" src="/assets/img/beachsunset-1.jpg" /></div>
<div class="bubble-2">
  <h2 class="ban-bold">He asked and...</h2>
</div>
<div class="story-1"><img class="story" src="/assets/img/shesaidyes-1.jpg" /></div>
<div class="bubble-2">
  <h2 class="ban-bold">She said yes!!</h2>
</div>
<div class="bubble">
  <h2 class="ban-bold">So what's next?</h2>
</div>
<div class="none">
  <h2 class="ban-bold">A wedding of course</h2>
  <h3 class="ban-sub">We will be getting married on a beach in Maui.
Oneloa (Ironwood) Beach at 4:30pm to be exact!</h3>
</div>
<div class='content-container  embed-container  maps'>
  <div id="g-map"></div>
</div>
<!-- <iframe style="pointer-events: none;"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ3WraIcrVqn4ROlw-LW_W0_I&key=AIzaSyDe-xM2cbGzGk9UD5tyJqsahEZZCxybGX4" allowfullscreen></iframe> -->
