.section-heading {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  background: #5bb7d5;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 1em; }

.quote-heading {
  font-family: playfair display;
  text-align: center; }

.story-heading {
  font-family: playfair display;
  font-weight: 900;
  font-size: 3em;
  text-align: center;
  padding: 1em 0; }

.p-subheading {
  font-family: playfair display;
  font-size: 2em;
  text-align: center;
  padding: .5em; }

.p-subheading-alt {
  font-family: playfair display;
  font-size: 2em;
  text-align: center;
  padding: .5em .5em 0 .5em; }

.p-yes {
  font-family: playfair display;
  font-size: .5em;
  text-align: center;
  padding-bottom: .5em; }

.wu-link {
  font-size: .5em;
  text-align: right;
  padding: 1em;
  text-decoration: none; }
  .wu-link a:link, .wu-link a:visited, .wu-link a:hover, .wu-link a:active {
    color: #333333; }

#g-map {
  width: 100%;
  height: 800px;
  margin-bottom: 2em; }

#section-1 {
  padding: 0 2em 2em 2em; }

.quotes-bg {
  background-color: rgba(91, 183, 213, 0.1); }

.row-form {
  margin: 0; }

.row-alt {
  background-color: rgba(91, 183, 213, 0.1);
  margin-bottom: 1em; }

#her-story, #his-story {
  margin: 1em 0; }

.card-alt {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #333;
  border: 1px solid #444;
  -webkit-border-radius: .25rem;
          border-radius: .25rem; }

.card-sharp {
  position: relative;
  display: block;
  margin-bottom: .75rem; }

.btn-qoute {
  margin-top: 2em;
  color: #FFFFFF;
  background-color: #5BB7D5;
  border-color: #5BB7D5; }
  .btn-qoute:hover, .btn-qoute:focus, .btn-qoute:active, .btn-qoute.active {
    color: #FFFFFF;
    background-color: #68CEF0;
    border-color: #5BB7D5; }

.open .dropdown-toggle.btn-qoute {
  color: #FFFFFF;
  background-color: #68CEF0;
  border-color: #5BB7D5; }

.btn-qoute:active, .btn-qoute.active {
  background-image: none; }

.open .dropdown-toggle.btn-qoute {
  background-image: none; }

.btn-qoute.disabled, .btn-qoute[disabled] {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

fieldset[disabled] .btn-qoute {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

.btn-qoute.disabled:hover, .btn-qoute[disabled]:hover {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

fieldset[disabled] .btn-qoute:hover {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

.btn-qoute.disabled:focus, .btn-qoute[disabled]:focus {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

fieldset[disabled] .btn-qoute:focus {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

.btn-qoute.disabled:active, .btn-qoute[disabled]:active {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

fieldset[disabled] .btn-qoute:active {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

.btn-qoute.disabled.active, .btn-qoute[disabled].active {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

fieldset[disabled] .btn-qoute.active {
  background-color: #5BB7D5;
  border-color: #5BB7D5; }

.btn-qoute .badge {
  color: #5BB7D5;
  background-color: #FFFFFF; }

.quote-left, .quote-right {
  width: 100%;
  position: relative;
  -webkit-border-radius: 0.5em;
          border-radius: 0.5em;
  padding: 1em 2em;
  margin: 0 0 1em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.1); }
  .quote-left:before, .quote-left:after, .quote-right:before, .quote-right:after {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: absolute; }

.quote-left {
  border: 1px solid #aaaaaa;
  background: #fff;
  color: #333333; }
  .quote-left:before, .quote-left:after {
    left: 0;
    top: 50%;
    -webkit-transform: translate(-54%, -50%) rotate(-45deg);
        -ms-transform: translate(-54%, -50%) rotate(-45deg);
            transform: translate(-54%, -50%) rotate(-45deg);
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    background: #fff; }
  .quote-left:before {
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    z-index: -1; }

.quote-right {
  background: #333333;
  color: #ccc;
  text-align: right; }
  .quote-right:before, .quote-right:after {
    right: 0;
    top: 50%;
    -webkit-transform: translate(54%, -50%) rotate(45deg);
        -ms-transform: translate(54%, -50%) rotate(45deg);
            transform: translate(54%, -50%) rotate(45deg);
    background: #333333; }
  .quote-right:before {
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    z-index: -1; }

/* =============================================================================
 Hero Section
 @mixin ============================================================================*/
.hero {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  border: 1px solid #aaaaaa;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .hero .portia {
    height: 100vh;
    width: 50%;
    background-image: url(/assets/img/portia.jpg);
    background-position: center top;
    background-size: cover; }
    @media (max-width: 1024px) and (orientation: portrait) {
      .hero .portia {
        height: 50vh; } }
  .hero .ron {
    height: 100vh;
    width: 50%;
    background-image: url(/assets/img/ron.jpg);
    background-position: center top;
    background-size: cover; }
    @media (max-width: 1024px) and (orientation: portrait) {
      .hero .ron {
        height: 50vh; } }
  .hero .annoc {
    position: absolute;
    height: 100%;
    -webkit-transform: translate(-50%, 60%);
        -ms-transform: translate(-50%, 60%);
            transform: translate(-50%, 60%); }
    @media (max-width: 630px) {
      .hero .annoc {
        -webkit-transform: translate(-50%, 65%);
            -ms-transform: translate(-50%, 65%);
                transform: translate(-50%, 65%); } }
    .hero .annoc .names {
      font-size: 10em;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      padding: 0; }
      @media (max-width: 2200px) {
        .hero .annoc .names {
          font-size: 9em; } }
      @media (max-width: 2030px) {
        .hero .annoc .names {
          font-size: 8em; } }
      @media (max-width: 1840px) {
        .hero .annoc .names {
          font-size: 7em; } }
      @media (max-width: 1680px) {
        .hero .annoc .names {
          font-size: 6em; } }
      @media (max-width: 1400px) {
        .hero .annoc .names {
          font-size: 5em; } }
      @media (max-width: 1280px) {
        .hero .annoc .names {
          font-size: 4em; } }
      @media (max-width: 930px) {
        .hero .annoc .names {
          font-size: 3em; } }
      @media (max-width: 730px) {
        .hero .annoc .names {
          font-size: 2.5em; } }
      @media (max-width: 420px) {
        .hero .annoc .names {
          font-size: 2em; } }
    .hero .annoc p {
      font-family: playfair display;
      font-style: italic;
      font-size: 2em;
      text-align: center;
      margin: 0;
      padding: 0; }
      @media (max-width: 720px) {
        .hero .annoc p {
          font-size: 1.5em; } }
      @media (max-width: 420px) {
        .hero .annoc p {
          font-size: 1em; } }
    .hero .annoc p:first-of-type {
      font-style: normal;
      font-size: 4em;
      letter-spacing: 5px;
      color: #333333; }
      @media (max-width: 1100px) {
        .hero .annoc p:first-of-type {
          font-size: 2em; } }
      @media (max-width: 720px) {
        .hero .annoc p:first-of-type {
          font-size: 1.5em; } }
      @media (max-width: 420px) {
        .hero .annoc p:first-of-type {
          font-size: 1em; } }
    .hero .annoc hr {
      display: block;
      width: 75%;
      margin: 0.2em auto; }
